@font-face {
    font-family: 'GT-Haptik-Medium';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/GT-Haptik-Medium.woff2') format('woff2'), url('../fonts/GT-Haptik-Medium.woff') format('woff');
}

@font-face {
    font-family: 'GT-Haptik-Medium-Rotalic';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/GT-Haptik-Medium-Rotalic.woff2') format('woff2'), url('../fonts/GT-Haptik-Medium-Rotalic.woff') format('woff');
}

@font-face {
    font-family: 'GT-Haptik-Medium-Oblique';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/GT-Haptik-Medium-Oblique.woff2') format('woff2'), url('../fonts/GT-Haptik-Medium-Oblique.woff') format('woff');
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: currentColor;
}

html {
    font-family: sans-serif;
    cursor: url('data:image/svg+xml;charset=UTF-8,<svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><circle cx="16" cy="16" r="15" fill-rule="evenodd"/></svg>'), auto;
}

body {
    font-family: 'GT-Haptik-Medium';
    display: grid;
    background: #EFA3C0;
    color: white;
}

.page-studio {
    background: #DC302B;
}

.page-contact {
    background: #2C5993;
}

.page-shop {
    background: white;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.switch {
    position: fixed;
    top: 80px;
    right: 80px;
    display: block;
    width: 105px;
    height: 105px;
    background: url('../images/switch.svg') no-repeat center center;
    animation: rotating 3s linear infinite;
}

.menu-item {
    position: fixed;
    display: block;
}

.menu-item.horizontal {
    width: 100%;
    height: 40px;
    text-align: center;
}

.menu-item.horizontal.top {
    top: 40px;
}

.menu-item.horizontal.bottom {
    bottom: 40px;
}

.menu-item.rotate {
    top: 0;
    height: 100%;
    width: 40px;
}

.menu-item.right {
    right: 40px;
}

.menu-item.left {
    left: 40px;
    text-align: center;
}

.menu-item.rotate .menu-link {
    position: absolute;
    top: 50%;
    left: 50%;
}

.menu-item.left .menu-link {
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.menu-item.right .menu-link {
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.menu-link {
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
    text-decoration: none;
}

.page-home .menu-link {
    color: #DC302B;
}

.page-shop .menu-link {
    color: black;
}

.menu-link:hover {
    font-family: 'GT-Haptik-Medium-Rotalic';
    cursor: url('data:image/svg+xml;charset=UTF-8,<svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><circle cx="16" cy="16" r="15" fill="white"/></svg>'), auto;
}

.page-shop .menu-link:hover {
    cursor: url('data:image/svg+xml;charset=UTF-8,<svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><circle cx="16" cy="16" r="15" fill="#DC302B"/></svg>'), auto;
}

#container {
    max-width: 1400px;
    margin: auto;
}

main {
    height: 100%;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--scrollbar-width));
    min-width: 100vw;
    scroll-snap-align: start;
}

.grid {
    display: grid;
    grid-template-rows: 1fr;
    gap: 0px 40px;
    grid-auto-flow: row;
}

.grid-2 {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ". .";
}
  
.grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". . .";
}

.grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: ". . . .";
}

.grid-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". . . . .";
}

@media (max-width: 1400px) {
    
}

@media (max-width: 1024px) {
    
}

@media (max-width: 600px) {
    
}

@media (max-width: 320px) {
    
}